.Single {
  &Header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__input {
      margin-top: .5rem;
      padding: .5rem;
      padding-bottom: calc(.5rem + 1px);
      border: none;
      border-bottom: 1px dashed grey;
      transition: border-bottom-color 1s ease-out;

      &:focus {
        outline: none;
        border-bottom: 2px solid black;
        padding-bottom: .5rem;
      }
    }

    &__button {
      &--remove {
        margin-left: auto;
      }
    }
  }

  &Footer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;

    &__button {
      &--close {

      }

      &--save {
        margin-left: auto;
      }
    }
  }
}
